$shadow: rgba(0, 0, 0, 0.15);

.book-row {
  border-radius: 2px;
  box-shadow: 0 0 0 1px $shadow, 0 0 0 black, 0 1px 1px $shadow;
  width: 500px;
  transition: background 100ms ease;
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  .content {
    padding: 10px 20px;
  }

  .title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
  }

  .authorAndRating {
    display: flex;
  }

  .author {
    flex: 1;
    font-size: 16px;
    color: #666;
    font-style: italic;
  }

  .details {
    padding: 10px 20px;
    border-top: 1px solid $shadow;
  }

  .isbn {
    font-size: 12px;
    color: #666;

    strong {
      background: lightgray;
      padding: 2px 4px;
      border-radius: 4px;
      margin-right: 4px;
    }
  }
}
